.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table th,
.table td {
  padding: 12px 10px;
}

.table__body tr {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.table__body tr:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.table__actions {
  width: 1%;
}

.table__buttons-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
